.UserPage{
    width: auto;
    height: auto;
    /* background-color: red; */
    display: flex;
}


.sidebar{
    float: left;
    width: 25vw;
    height: 100%;
    /* border-top-right-radius: 2vw; */
    background-color: teal;
    text-align: center;
    /* color: white; */
}

.sidebar p{
    color: white;
    /* font-size: 1.8vw; */
    text-align: center;
    font-weight: 700;
}

.dashboard{
    width: 100vw;
    /* background-color: #00AB66; */
    /* background-image: linear-gradient(to left, green , lightgreen); */
    /* text-align: center; */
    /* padding-left: 5vw; */
}

.dashboard h2{
    color: grey;
    font-size: 6vh;
    margin-left: 1vw;
    margin-bottom: 6px;
}


/* .dashboard p{
    font-size: 5vh;
    font-weight: bold;
} */

.flexContainer{
    display: grid;
    grid-template-columns: repeat(1, 0.2fr);
    float: right;
    margin-right: 5vw;
}

.flexContainer div{
    box-sizing: border-box;
    width: 62vw;
}

.flex3 {
    border-bottom: 1px solid;
    border-color: teal;
    /* border-color: black; */
}
.flex3-name{
    color: teal;
    font-weight: 700;
}
.flex3 div{
    justify-content: space-between;
    font-weight: 600;
    flex: 1;
    flex-direction: row;
}