.UserPage{
    width: auto;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


.sidebar{
    float: left;
    width: 25vw;
    height: 100%;
    border-top-right-radius: 2vw;
    background-color: teal;
    text-align: center;
    /* color: white; */
}

.profile-icon {
    background-color: rgb(200, 198, 198);
    padding: 20px;
    border-radius: 50px;
    margin-top: 20px;
    color: black;
}

.sidebar p{
    color: white;
    /* font-size: 1.8vw; */
    text-align: center;
}

.name {
    font-weight: 900;
    font-size: 22px;
}

.email {
    text-decoration: underline;
    font-family: cursive;
    font-style: italic;
}

.dashboard{
    width: 100vw;
    /* background-color: #00AB66; */
    /* background-image: linear-gradient(to left, green , lightgreen); */
    /* text-align: center; */
    /* padding-left: 5vw; */
}

.dashboard h2{
    color: grey;
    font-size: 6vh;
    margin-left: 1vw;
    margin-bottom: 6px;
}


/* .dashboard p{
    font-size: 5vh;
    font-weight: bold;
} */

.flexContainer{
    display: grid;
    grid-template-columns: repeat(1, 0.2fr);
    /* margin-right: 5vw; */
    /* width: 50px; */
    padding-left: 50px;
}

.flexContainer div{
    box-sizing: border-box;
    width: 100vw;
}

.flex3 {
    border-bottom: 1px solid;
    border-color: teal;
    /* border-color: black; */
}
.flex3-name{
    color: teal;
    font-weight: 700;
}
.flex3 div{
    justify-content: space-between;
    font-weight: 600;
    flex: 1;
    flex-direction: row;
}