.headerLinks{
    /* justify-content: space-between; */
    height: 8vh;
    text-align: right;
    text-decoration: none;
    color: black;
    /* background-color: white; */
    font-size: 3vh;
    padding-top: 2vh;
    box-sizing: border-box;
    float: right;
    border-bottom: 1px solid;
    width: 100%;
    border-color: gainsboro;
}

.headerLinks ul{
    display: inline;
    text-decoration: none;
    margin: auto;
    height: 5vh;
    width: 10vw;
    
}

.headerLinks li{
    display: inline;
    text-decoration: none;
    color: black;
    margin: 2vw;
    border-radius: 0.2vw;
    /* border: 2px solid teal; */
    border-radius: 20px;
    padding: 8px;
    font-weight: 700;
    font-size: 15px;
    border-left: solid;
}
.headerLinks li:hover{
    color: teal;
    border-color: white solid;
}